<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813632891098-ve88159m47aitteejf04pqlghtf6aoua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813632891098-ve88159m47aitteejf04pqlghtf6aoua</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813632891098-1ltvjdsjri32ke8mi9gcp85e03ngcqlq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCt8eg4rCd29BTpA25qRsMBANtoQWnPvSk</string>
	<key>GCM_SENDER_ID</key>
	<string>813632891098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FCL47U2TTD.Lebanon</string>
	<key>PROJECT_ID</key>
	<string>del-leb</string>
	<key>STORAGE_BUCKET</key>
	<string>del-leb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:813632891098:ios:aab118ef34a0cd63375de3</string>
	<key>DATABASE_URL</key>
	<string>https://del-leb.firebaseio.com</string>
</dict>
</plist>
